* {
font-family: 'Open Sans',
sans-serif;
color: #333;
box-sizing: border-box;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    margin-top: 30px;
}

html{
    min-height:100%;
    position:relative;

}

body{
    margin: 0;
}

#pagecontainer{
    max-width: 960px;
    min-height: 50vh;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
}

img {
    max-height: 200px;
}

/* Colors */
.yellow{
    color: #feda8b;
}
.purple{
    color: #8980fd;
}
.black{
    color:#333;
}

/* Buttons, links and forms*/

a, a:hover {
    color: #333;
}

button, input[type=submit], input[type=file]{
    background-color: #8980fd;
    color: #feda8b;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 7px 15px;
    margin: 15px 0;
    cursor: pointer;
}

button:hover,
input[type=submit]:hover {
    background-color: rgb(118, 109, 231);
    border-bottom: 0;
}
.delete, input[type=submit].delete{
    background-color: #fd9967;
    color: #333;
}
button.delete:hover,
input[type=submit].delete:hover {
    background-color: #df8051;
}
button.edit{
    background-color: #c1e7ae;
    color: #333;
}
button.edit:hover {
    background-color: #a7d392;
}
.btn-small{
    font-size: 0.5rem !important;
    padding: 5px !important;
    margin: 3px 0px 0px 15px !important;
}
button.btn-icon{
    background-color: rgba(0, 0, 0, 0);
}

input, textarea, .emojionearea {
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: none;
    background-color:rgba(137, 128, 253, 0.15);
    padding: 7px 20px;
    border-radius: 12px;
    margin: 0 0 10px 0;
}

input:focus{
    outline: none;
    border: 2px solid #8980fd;
}

::placeholder {
    color: #333;
    font-size: 0.9rem;
  }

textarea:focus,
.emojionearea:focus, .emojionearea.focused {
    outline: none !important;
    border: 2px solid #8980fd;
    box-shadow: none;
}


input[type=submit]:disabled, input[type=submit][disabled]{
    background-color: #8980fd;
    color: #feda8b;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin: 15px 0;
    cursor: default;
    opacity: 0.4;
}

  input:disabled {
    opacity: 0.4;
}

/* Header */
header{
    display: flex;
    align-items: baseline;
    padding: 20px;
}
img#logo{
    height: 50px;
    width: auto;
}
nav{
    margin-left: auto;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header ul li{
    margin-left: 30px;
}
header ul li a{
    text-decoration: none;

}
header ul li a:hover {
    text-decoration: underline;
}
.active{
    font-weight: bold;
}


/* Footer */
footer{
    background-color: #8980fd;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    margin-top: 30px;
}

footer p{
    margin: 10px 0px;
    color: #feda8b;
    font-size: 0.6rem;
}


/* Home */

.home-container > h1 {
    margin: 90px 0px 10px 0px;
}

.home-container > h3 {
    font-weight: 200;
    font-size: 1.74rem;
    margin-bottom: 50px;
}

.home-container > a > button {
    margin-top: 0;
}


/* Register */

.register-container > h2 {
    margin: 30px 0px 20px 0px;
}

.register-container > form > input[type=submit] {
    margin-bottom: 25px;
}

/* Login */

.login-container {
    margin-top: 100px;
}


/* My pets */

h5.fact-heading {
    margin-bottom: 0;
    margin-top: 30px;
    font-weight: bold;
}


.mypets-heading {
    margin-top: 0px;
}

.fact {
    font-style: italic;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 40px;
}

.add-pet {
    margin-bottom: 40px;

}

/* Feed */

form.post-form {
    margin-bottom: 50px;
}

div.post-buttons {
    display: flex;
	justify-content: center;
    align-content: center;
    flex-direction: row;
}

div.post-buttons > button{
    margin-left: 25px;
}

div.post-container{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: #eee 1px solid;
    display: flex;
    flex-direction: row;
}

div.post-container:last-child {
    margin-bottom: 130px;
}

div.single-post {
    padding-right: 60px;
    width: 50%;
    border-right: #eee 1px solid;
    display: flex;
    align-items: left;
    flex-direction: column;
}

div.single-post img {
    align-self: start;
}

p.post-text {
    text-align: left;
    margin: 10px 0 5px 0;
}

div.author-time-delete {
    display: flex;
    align-content: center;
    flex-direction: row;
}

p.author-timestamp {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 7px;

}

p.timestamp {
    font-size: 0.8rem;
    margin-left: 10px;
    margin-top: 7px;
}

p.author-timestamp:nth-child(2) {
    margin-left: 30px;
}

div.author-time-delete > form > button {
    margin-left: 30px;
    margin-top: 7px; 
}

div.all-comments {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 60px;
}

div.post-comment {
    align-self: flex-end;
    width: 100%;
}

div.post-comment > form {
    display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: row;
}

div.post-comment > form > button {
    padding: 7px;
    margin: 10px 0px 10px 20px;
    display: flex;
    flex-direction: row;
}

div.single-comment {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 10px;
}


div.author-time-delete-comment {
    display: flex;
	justify-content: space-between;
    flex-direction: row;
}

div.author-time-comment {
    display: flex;
	justify-content: left;
    align-items: center;
    flex-direction: row;
}

p.author-comment {
    font-size: 0.6rem;
    font-weight: 700;
    /*margin-top: 5px;*/
    margin: 0;
}

.comment-text {
    text-align: left;
   /* margin: 10px 0 5px 0;*/
   margin: 0;
}

p.timestamp-comment {
    /*margin-top: 5px;*/
    margin: 0;
    font-size: 0.6rem;
    margin-left: 10px;
}

.comment-input {
    margin: 10px 0px 12px 0px;
    height: 3em;
    box-shadow: none;
    text-align: left;
    padding: 2px 0;
}
textarea.post-input,
.emojionearea.post-input {
    margin: 0 auto;
    box-shadow: none;
    text-align: left;
    height: 3em;
    width: 43%;
    transition: all 0.3s ease;
}

textarea.post-input:focus,
.emojionearea.post-input.focused {
    height: 17em;
}

/* Styling for img cropper */
img#img {
    display: block;
    max-width: 100%;
}

.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.cancel-btn {
    background-color: #8b8b8b;
    color: white;
}

.cancel-btn:hover {
    background-color: #616161;
}


/* Pet profiles (browse pets) */

.search-field {
    width: 30vw;
    margin: 40px 10px 50px 0;
}

.all-btn {
    margin-left: 30px;
    background-color: #feda8b;
    color: #333;
}

.all-btn:hover {
    background-color: #ffd270;
}

div.pet-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-pet {
    margin: 20px 30px 50px 50px; 
    border-radius: 15%;
    background-color: rgba(137, 128, 253, 0.1);
}

.single-pet > a > img {
    border-radius: 15% 15% 0% 0%;
}

.single-pet > p {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.9rem;
}


/* Pet Profiles Single */

.all-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.img-upperinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;

}

.img-upperinfo > img {
    border-radius: 15%;
}

.upperinfo {
    margin-left: 45px;
    align-self: flex-end;
}

.upperinfo > p {
    margin: 10px 0px 0px 0px;
}

.upperinfo > h1 {
    margin-bottom: 10px;
}

.lower-info {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin-left: 80px;
}

.likes-dislikes {
    display: flex;
    flex-direction: row;
    width: 500px;
}

.likes {
    margin-right: 60px;
    width: 250px;
}

.dislikes {
    width: 250px;
}

.lower-info > p {
    text-align: left;
}

.other-info {
    margin-top: 15px;
    width: 500px;
}

.upperinfo, .other-info, .likes-dislikes > p {
    text-align: left;
}

.bold {
    font-weight: 900;
}

.single-edit-delete-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px 40px 0px;
}

.single-edit-delete-btns > form {
    margin-right: 30px;
}

.owners {
    margin-bottom: 40px;
}

div.owners > h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

div.owners > p {
    margin-bottom: 15px;
}

.owners > form > input {
    margin-top: 0;
}

.owners > form > input.delete {
    margin: 10px 0px 40px 0px;
}


/* Pet Profile Edit, Add */

div.petprofile-edit-container > h2, .addpet-container > h2 {
    margin: 30px 0px 20px 0px;
}

div.petprofile-edit-container > form > input, .addpet-container > form > input {
    margin-bottom: 15px;
}

div.petprofile-edit-container > form > .emojionearea, .addpet-container > form > .emojionearea {
    margin: 0px auto;
    width: 20em;
    text-align: left;
}

div.petprofile-edit-container > form > img {
    margin: 15px 0px;
}

div.petprofile-edit-container > form > input[type=submit], .addpet-container > form > input[type=submit] {
    margin: 20px 0px 30px 0px;
}

.addpet-container > form > input[type=file] {
    margin-bottom: 20px;
}

.edit-img-upload {
    margin: 15px 0px 0px 0px;
}


/* Animal Care */

.animalcare-h1 {
    margin-bottom: 30px;
}

.single-animal {
    margin: 20px 30px 50px 50px; 
    border-radius: 15%;
    background-color: rgba(137, 128, 253, 0.1);
}

.single-animal > a > img {
    border-radius: 15% 15% 0% 0%;
}

.single-animal > p {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.9rem;
}


/* Animal Care Single */

.animalcare-single-container {
    padding: 50px 20px;
    margin: 0px 50px 50px 50px;
}

.animalinfo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animalinfo-container > h2 {
    margin-top: 30px;
}

.animalinfo-container > img {
    border-radius: 15%;
    align-self: center;
}

.animalinfo-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}

.animalinfo-text > p {
    width: 350px;
    margin-left: 30px;
    margin-top: 15px;
    padding: 30px;
}

p.facts {
    background-color:rgba(253, 153, 103, 0.2);
    border-radius: 50px;
}

p.characteristics {
    background-color:rgba(167, 211, 146, 0.2);
    border-radius: 50px;
}

p.average-lifespan {
    background-color:rgba(137, 128, 253, 0.17);
    border-radius: 50px;
}

p.forbidden-food {
    background-color:rgba(255, 210, 112, 0.2);
    border-radius: 50px;
}

.animalsingle-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.animalsingle-btn-container > form:first-child {
    margin-right: 10px;
}


/* Animal Care Add & Edit*/

.addanimal-h1, .editanimal-h1 {
    margin-bottom: 30px;
}

.addanimal-container>form>.emojionearea,
.editanimal-container>form>.emojionearea
{
    margin: 0px auto 25px auto;
    width: 40em;
    text-align: left;
}

.addanimal-container > form > input[type=file], .editanimal-container > form > input[type=file] {
    margin-top: 5px;
}

.addanimal-container > form > input[type=submit], .editanimal-container > form > input[type=submit]{
    margin: 30px 0px 0px 0px;
}

.editanimal-container > form > img {
    margin-bottom: 20px;
}


/* Account */

.account-container > button {
    margin-left: 20px;
}

.icon{
    height: 20px;
    padding-bottom: 2px;
}
.icon-small{
    height: 15px;
}
.nav-icon{
    height: 40px;
}
.icon.comment, .icon.characteristics {
    padding-left: 5px;
}

/* Error message */
.error{
    color: #fd9967;
    font-weight: bold;
}
.text-small{
    font-size: 0.5rem;
    margin-bottom: 0;
}

div.visibility{
    position: relative;
    display: inline-block;
}
img.visibility{
    position: absolute;
    top: 25%;
    right: 10px;
    cursor: pointer;
}